:root {
    --color-accent: #ED2561;
    --color-black: #121212;
    --color-black-opacity: #12121299;
    --color-white: #FFFFFF;
    --color-red: #FF605C;
    --color-yellow: #FFBD44;
    --color-green: #00CA4E;
}
